.usersignup{
    background: url("../images/images\ \(1\).jpg");
    background-position:center;
    background-size: cover;
    height:100vh;
}
.usersignup input{
    display: grid;
    grid-template-columns: 200px 200px;
    margin:20px;
    height:30px;
    width:300px;
    position: relative;
    left:600px;
    top:200px;
    outline: none;
    border-radius: 4px;
}
.usersignup button{
    width:200px;
    height:40px;
    position:relative;
    left:620px;
    top:200px;
    background-color: cadetblue;
    border-radius: 5px;;
}